body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-size: 0.8em;

  }
  .colorbox {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    text-align: center;
    font-size: 24px;
    line-height: 200px;
    background-color: black;
    transform: rotate(45deg);
}
  .container {

    max-width: 800px; /* Ширина контейнера */
        background-color: rgba(0, 0, 0, 0.7); /* Чёрный цвет фона для контейнера с прозрачностью 50% */
        padding: 20px; /* Добавляем отступы вокруг текста */
        border-radius: 10px; /* Закругляем углы */
        backdrop-filter: blur(10px);
}
  button {
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  #counter {
    font-size: 18px;
    margin-top: 20px;
  }
  #test-section {
    display: none; /* Скрываем секцию теста */
  }

  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  body a:not(header a) {
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убираем стандартное подчеркивание */
    position: relative; /* Позиционируем ссылку относительно своего контейнера */
    overflow: hidden; /* Обрезаем лишний фон */
}

body a:not(header a)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Начальная ширина линии */
    height: 2px; /* Толщина линии */
    background: white; /* Белый цвет линии */
    transition: width 0.3s ease; /* Анимация изменения ширины */
}

body a:not(header a):hover::before {
    width: 100%; /* Расширяем линию до 100% ширины при наведении */
}
#question {
    font-size: 24px;
    margin-top: 50px;
}
#result {
    font-size: 20px;
    margin-top: 20px;
}
#timer {
    font-size: 24px;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-container button {
    margin: 0 10px; /* Увеличение отступа между кнопками */
}
#startButton {
    margin: 0 auto; /* Центрирование кнопки "Начать тест" */
}